<!doctype html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="css/justify.css" />
        <script src="http://yui.yahooapis.com/3.14.0/build/yui/yui-min.js"></script>
    </head>
    <body>

        {{#content}}
        <p class="dualjustify" style="width:50%">
                {{this}}
        </p>
        {{/content}}

<div class="dualjustify">
<span>電子書應該自由。自由的意思不是免費，而是自由閱讀，自由處置。讓你買的電子書在任何機器、任何時間都可以打開、閱讀、轉移，不必被平台或機器挾持，鎖在一個又一個 DRM  系統底下無法脫身。<br><br>DRM（數位權利管理）的原始動機可能是好意，但 DRM 的結果卻是災難，應該是我們認真思考放棄 DRM 的時候了。<br><br><strong>「書渴望自由」</strong><br><br>紙張書時代，我們本來沒有  DRM，道理不難明白，因為紙書的複製成本很高，即使用最便宜的影印機，你自行複製的花費通常也超過直接買書。因為這個緣故紙書不需要  DRM，高門檻的複製成本已經建立了一道天然的防火牆，擋在讀者想要隨意複製書的念頭之前。就是這道牆讓專有複製權成為出版業生意模式的基礎。<br><br>而數位世界沒有這道牆，複製檔案幾乎不花錢，我們害怕電子書會毫無約束地大量複製，摧毀過去五百年出版業者費心經營的商業模式，於是我們在虛擬世界裡，重建起物質世界原來的那道牆</span><span>─</span><span>─</span><span>這是 DRM 為什麼會誕生的原因。儘管書已經從物質世界來到數位，我們仍然辛辛苦苦地維護著舊世界的規矩，和傳統。<br><br>本來像 EPUB 這樣開放式的電子書規格，可以容許電子書在不同平台和機器間自由流通交換，然而加上 DRM  之後，所有的開放性就喪失了。再開放的規格碰到 DRM 也會逆轉成封閉系統，因為 DRM  的加密、解密，目的就是要確保除了「生身父母」以外，沒有其他程式能破解。<br><br>這樣還有什麼意思呢？Ａ家買的Ｂ家看不了，你永遠要記得某本書是在哪個平台買的，要不然你就得自始至終只在一家平台買書，一旦你發現某本書只有別家有售，你的苦惱就來了，每加入一家平台，你就多一組帳號密碼，多一個專用閱讀器，多耗費力氣記住哪本書要用哪個閱讀器打開。<br><br>你要借書出去，要等系統寫好借書功能（現在亞馬遜的借書功能是你借出的同時，你自己的閱讀權限會被關閉）；你要轉送他人，得祈禱對方跟你在同一個系統；圖書館買了一份拷貝，同一時間只有一個人可以看，如果要給更多人看就得加買更多授權，連借一本書也要設定歸還時間；如果我當初買書的平台倒店，我的書還是我的嗎？……紙張書時代我們從來不用煩惱這些。<br><br>這個麻煩在音樂產業裡同樣發生過。在蘋果公司大獲成功的 iPod 音樂上市六年之後，蘋果創辦人<a target="_blank" title="External link to http://www.apple.com/hotnews/thoughtsonmusic/" href="http://www.apple.com/hotnews/thoughtsonmusic/" class="externalLink">賈伯斯為此發表了公開信</a>，希望唱片公司放棄 DRM，他說：「想像一個世界，你可以用任何音響，播放你在任何商店購買的音樂，而你在任何商店銷售的音樂，也可以在所有音響裡播放。這顯然是對消費者最好的選擇。」<br><br>當年賈伯斯發表這封信，媒體多半覺得這個傢伙太天真，然而不到兩年時間，蘋果已經說服了唱片公司。現在你在 iTune 商城下載的歌曲，<a target="_blank" title="External link to http://www.apple.com/pr/library/2009/01/06itunes.html" href="http://www.apple.com/pr/library/2009/01/06itunes.html" class="externalLink">全部都是卸除 DRM 保護的音樂</a>。<br><br>這是電子書應該自由的第一個理由，只有自由的書才是對讀者友善的書。<br><br><strong>第二個理由</strong><br><br>電子書應該自由的第二個理由是，它是電子書，是數位化的檔案，已經在數位的生態圈裡面，因此電子書應該善用數位世界的力量，而不是自我封鎖。什麼是數位世界的力量呢？<br><br>在數位世界，檔案複製的邊際成本趨近於零，偏偏我們花了所有力氣，要阻擋這件事。我們努力把紙張書的商業邏輯，原封搬到數位世界來。因為電子複製太便宜、太簡單、太進行在不知不覺間，所以我們要管制，我們要 DRM。<br><br>聰明嗎？<br><br>用紙張邏輯來思考確實很聰明，但我們已經來到數位世界了啊。善用數位世界的力量，才能讓產業在數位環境裡繁榮，電子書應該去利用數位、適應數位，而不是費心在新世界重建舊邏輯。新出版應該建立在以自由複製為基礎的商業模式裡才對。<br><br><strong>想想音樂產業走過的路</strong><br><br>讓我們想想過去十五年音樂產業發展的教訓。<br><br>一九九七年是傳統音樂產業的最高峰，那一年台灣音樂總產值是一二三．三億，此後就一路反轉，四年掉一半，在二○○一年剩下五七億，二○○五年剩下三二億，二○○九年剩下十四．三億。儘管最近這幾年的數字已經加上線上付費下載的營收，產值仍然一路下滑。<br><br>你覺得這個行業已經可以宣判死亡了嗎？答案剛好相反。音樂產業正以前所未有的速度重新繁榮，不是因為蘋果在二○○一年推出轟動世界的 iPod  付費音樂下載，而是音樂產業重新定義了什麼叫做「音樂產值」。過去是賣ＣＤ唱片才是產值，iPod  問世之後線上下載也算在內，而現在呢，所有跟音樂相關的，包括演唱會、代言、周邊商品，全部都算。<br><br>過去演唱會是回饋歌迷，現在演唱會既是回饋，也是重要的營收獲利來源。二○○九年最誇張的例子，來自李宗盛、羅大佑等人合組的「縱貫線」樂團，他們一年世界巡迴演出五十二場，<a target="_blank" title="External link to http://tw.nextmedia.com/applenews/article/art_id/32269559/IssueID/20100130" href="http://tw.nextmedia.com/applenews/article/art_id/32269559/IssueID/20100130" class="externalLink">總票房是新台幣四十三億元</a>，足足是同年全台灣付費音樂產值的三倍有餘。一個團，一年時間。<br><br>當然並不是所有歌手、樂團都能有這麼大的票房號召力，此外票房收入也不是由歌手所獨占，但正因為如此，音樂產業已經擴張到舞台、燈光、特效、編劇、現場調度、道具，甚至貨櫃運輸，養活的從業人口比之過往超過更多。<br><br>這樣的票房，基礎是什麼？當然，因為有龐大粉絲群。線上自由複製的音樂，使得歌手的粉絲群比過去更容易擴散，更容易累積。隨便在 <a target="_blank" title="External link to http://youtube.com" href="http://youtube.com/" class="externalLink">YouTube</a> 上面搜尋，你就會看到一些能夠傳唱的歌曲，點擊數動輒以百萬次起跳，這是數位世界自由擴散力量的證明。<br><br>當你的粉絲群數量龐大，你做任何事都會有力量。你可以號召行善，可以鼓勵公益，也可以透過精心安排的商業活動，讓粉絲熱情轉換為貨幣回報。總之，任何回報（無論是物質的還是精神的）都要建立在粉絲群夠大的基礎上，沒有粉絲，沒有動能。自由的音樂正是推動這種變化的核心。<br><br>音樂產業花了十幾年才終於想通這件事，出版產業應該記取這件事，不要再走冤枉路。這也是「<strong>書渴望自由</strong>」的提議為什麼會誕生的原因。<br><br>「<strong>書渴望自由</strong>」並不是由反商情結驅動的，也跟網路上道德性的宣揚無關，可能剛好相反，這個提議的初衷是要尋找一種方法，讓電子書作者取得最大的（精神或物質）回報。<br><br><strong>自由是對商業模式想像力的解放</strong><br><br>好吧，也許我們可以承認 DRM 有壞處，可是 DRM 畢竟保障了作品的銷售利益不是嗎？我們會擔心解除了 DRM 就等於是鼓勵盜版，而鼓勵盜版等於是自斷財源。這該怎麼辦呢？<br><br>解除 DRM 就只是解除而已，你仍然可以定價銷售，正常流通。這個世界上有無數的讀者樂於付費購買，即使網路上到處抓得到盜版連結也一樣（iTune 商店就是證明）。業界以放棄 DRM 知名的 O'Reilly 創辦人 Tim O'Reilly 曾說：「<a target="_blank" title="External link to http://openp2p.com/pub/a/p2p/2002/12/11/piracy.html" href="http://openp2p.com/pub/a/p2p/2002/12/11/piracy.html" class="externalLink">盜版是對知名作家的累進稅</a>」。<br><br>盜版只會發生在知名作品上，「如果你沒名，你的書不管有沒有保護都不會有人想盜版；如果你非常有名（像丹布朗），你的書不管有沒有保護都會有一堆盜版。沒名的希望有人盜版，有名的希望不要有盜版，可惜他們的願望都不會實現。」這是我去年的文字（見：<a target="_blank" title="External link to http://www.contnt.net/2009/11/ebook-drm-publishing.html" href="http://www.contnt.net/2009/11/ebook-drm-publishing.html" class="externalLink">建立以自由複製為動力的數位出版產業</a>）。放棄 DRM 並不會讓付費交易消失。<br><br>更有趣一點，我們不應該只是把盜版視為不得已的成本，我們應該直接把商業模式建立在盜版的基礎上。讓盜版成為銷售的動力，盜版越多，銷售越好。我在說夢話嗎？也許。讓我們來做個夢好了：想像一下，有一本電子書，每一章後面都接著一頁這樣的呼籲：<br><br>親愛的朋友：如果你覺得這本書很棒，讀了有收穫，何不給作者一點鼓勵呢？請按底下這個按鈕，支持他繼續寫出更多精彩的作品：<br><br>底下放一個「我要贊助作者100元」的贊助按鈕，引導到付款頁面（台灣已經有一些線上金流服務可以支持你做這樣的實驗，你完全不用會寫程式就可以完成）。<br><br>你猜會有多少比例的讀者，願意按下那個贊助按鈕呢？當然我相信大部分讀者即使覺得讀了很棒，也不會費心去按按鈕，但總有一個比例，讀者會覺得平白讀到這麼精彩的書，受之有愧，終於忍不住按下按鈕以緩和內心的虧欠感。假設這個比例恆定，用簡單的數學就可以得到結論：越多的盜版將會帶來越多的收益。<br><br>這個建立在以「盜版」為動力的商業模式，有個有趣的延伸效果，因為讀者看完書才決定要不要贊助，所以這是一個鼓勵紮實內容的商業模式。你要真有料，才適合採用這種方式發行；而如果你真有料，讀者會給你更高比例的回報。這將是一個好作品會取得好回報的正向循環。<br><br>除了把盜版轉化為銷售動力，還有沒有其他可能性呢？把贊助改為廣告行不行？把贊助改為「先看書，滿意再付款」方案呢？我覺得這裡有無窮的可能性。對整個出版產業而言，DRM 不是道德的不足，而是想像力的匱乏。我們應該現在就開始想，放棄 DRM  可以實行的商業模式，不要像音樂產業那樣多走了許多年的冤枉路。<br><br>更何況有許多作者並不真的介意金錢回收，他們更關切自己倒底爭取了多少讀者，我們如果看一下眾多線上自助出版平台（包括亞馬遜的），就會發現許多新手作者把自己的作品標價為零元。為什麼？因為他們需要讀者，遠勝於需要立刻實現的收益。<br><br>從爭取讀者的角度看，DRM 是對作者利益的阻礙，而不是保障。放棄 DRM 反而讓我們找到爭取讀者（因此最後也爭取到回報）的各種可能。<br><br><strong>結論</strong><br><br>讓我們重新思考 DRM 的問題吧。DRM  拘束了我們的想像力，破壞了我們接觸更多讀者的可能，讓讀者的使用體驗變糟，而且造就了獨家壟斷的大公司。你一旦沒有整套備齊的整體解決方案，你就沒辦法參加這個行業，最後只剩下市場巨人控制的電子書交易平台。這個景象已經在美國發生了，放棄 DRM  是我們唯一的機會，避免市場被擁有龐大資源與技術的公司所寡占。<br><br>放棄 DRM 還有更積極的價值，不只讓書自由，也讓我們的想像力重獲自由，讓我們思考更多連結內容和讀者的可能，只有內容爭取到更多讀者，並且讓讀者滿意，整個產業才可能成熟、成長。現在憑藉市場地位，人工壟斷的 DRM 系統，無法做到這件事。該是我們行動的時候了。<br><br>如果你願意支持這個「<strong>書渴望自由</strong>」的提議，請轉寄這篇文章給你的作者、編輯、出版同行、平台業者、政府部門，我們可以共同努力，推動新世界誕生。<br><br>　※　※　※<br><br>後記：「<strong>書渴望自由</strong>」將成為本站長期推動的計畫，我會隨時更新相關資訊、發展和技術細節。如果你對這個題目也感興趣，請記得訂閱本站最新消息。<br><br>「<strong>書渴望自由</strong>」是一個倡議名稱，我沒有註冊，任何電子書或銷售平台都可以自由取用，唯一的條件是，你的書不能有任何 DRM 管制（你可以定價，可以銷售，可以做任何事，除了使用 DRM。當然你要亂用我也沒奈何就是）。</span>
<div style="clear:both;"></div>
</div>



        <script type="text/javascript" src="js/justify.js"></script>
        <script>
            var YUtil;
            YUI().use('event-resize', 'dualjustify', function(Y){
                YUtil = Y;
                Y.on('domready', Y.Justify.DualJustify);
                Y.on('resize', Y.Justify.DualJustify);
            });
        </script>
    </body>
</html>

