<!doctype html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="css/justify.css" />
        <script src="http://yui.yahooapis.com/3.14.0/build/yui/yui-min.js"></script>
    </head>
    <body>
        {{#content}}
        <p class="dualjustify" style="width:50%">
                {{this}}
        </p>
        {{/content}}


        <p class="dualjustify" style="width:50%">最近讀完了<a href="http://www.books.com.tw/exep/prod/booksfile.php?item=0010534979" title="t">城市的精神</a>，這本書的作者感覺大有來頭，是牛津大學哲學博士，在香港、北京、新加坡、紐約都有住過。本書的觀點很有趣，講述城市發展的歷史如何形塑出每個城市獨特的精神。只可惜寫作方式太過跳躍，又摻合著教授寫書慣有的通病（就是到處注釋，會講一大堆歷史人物出生年代導致行文不流暢），並不是這麼好啃，所以我花了很久才斷斷續續的看完。</p>
        <script type="text/javascript" src="js/justify.js"></script>
        <script>
            var YUtil;
            YUI().use('event-resize', 'dualjustify', function(Y){
                YUtil = Y;
                Y.on('domready', Y.Justify.DualJustify);
                Y.on('resize', Y.Justify.DualJustify);
            });
        </script>
    </body>
</html>

